.{
	padding: 10px;
	margin: 0px;
	font-size: 20px;
    font-family:sans-serif ;

}
.heading{
	font-weight: bolder;
	font-family: Arial Black;
	font-size: 35px;
	color: royalblue;

}
.textboxform label{
	color: orange;
	font-weight: bolder;

}
.textboxform button{
	color: black;
	background-color: greenyellow;
	border: nune;
	outline: none;
	border-radius: 15px;
	cursor: pointer;
}